<% layout('layouts/boilerplate') %>


    <div class="mb-5">
        <h1>All Statements</h1>

        <div class="container-fluid ">

            <div class="col-12 ms-auto mb-3">
                <form action="/statements/search" method="GET">
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="searchTerm">Search</label>
                        <input class="form-control" id="searchTerm" type="text" name="searchTerm"
                            placeholder="Search...">
                    </div>
                    <div class="container-fluid d-flex flex-row flex-wrap">
                        <% for (filter in filters) { %>

                            <select id="select-<%= filter %>" name="selectedFilters[]" multiple
                                data-placeholder="<%= filters[filter].filterName%>"
                                class="select form-select-sm col-6 p-1">
                                <% for (subfilter of filters[filter].subfilters) { %>
                                    <option value="<%=subfilter %>" <%=selectedFilters && selectedFilters[filter] &&
                                        selectedFilters[filter].includes(subfilter) ? 'selected' : '' %>>
                                        <%= subfilter %>
                                    </option>

                                    <% } %>
                            </select>

                            <% } %>
                    </div>


                    <button class="btn btn-info mt-3" type="submit">Search</button>
                </form>
            </div>
            <div class="container-fluid d-flex flex-row flex-wrap">

                <%- include('../partials/results', { statements: statements }) %>

            </div>

        </div>
    </div>