<% layout('layouts/boilerplate') %>


    <div class="container-fluid col-9 mx-auto mt-5 mb-5">
        <h1><b>OECD Cases</b></h1>
        <h3>Please scroll down and use the search box and/or filters below to find a specific Statement.</h3>
        <div class="mt-5" id="map" style="height: 400px"></div>
        <div class="mt-5 ">

            <div class="mb-5">
                <form action="/statements/search" method="GET">
                    <label class="form-label fw-bold" hidden for="searchTerm">Search</label>
                    <div class=" d-flex flex-row flex-wrap mb-3">
                        <div class="col-11 me-auto">

                            <input class="form-control" id="searchTerm" type="text" name="searchTerm"
                                placeholder="Search...">
                        </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                    <div class="card bg-light ">
                        <button class="btn bg-primary-subtle" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsedFilters" aria-expanded="false" aria-controls="collapseExample">
                            Show/Hide Filters
                        </button>
                        <div class="collapse " id="collapsedFilters">
                            <div class="d-flex flex-row flex-wrap">

                                <% for (filter in filters) { %>
                                    <select id="select-<%= filter %>" name="selectedFilters[<%= filter%>]" multiple
                                        data-placeholder="<%= filters[filter].filterName%>"
                                        class="select form-select-sm col-6 p-2">
                                        <% for (subfilter of filters[filter].subfilters) { %>
                                            <option value="<%=subfilter %>">
                                                <%= subfilter %>
                                            </option>

                                            <% } %>
                                    </select>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="d-flex flex-row flex-wrap">
                <% for (let statement of statements){ %>
                    <div class="card mt-3 col-10">
                        <div class="card-header">
                            <%= statement.location %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= statement.title %>
                            </h5>
                            <p><b>ISSUE</b></p>
                            <p class="card-text">
                                <%= statement.description %>
                            </p>
                            <a href="/statements/<%= statement._id %>" class="btn btn-outline-primary">Show
                                Statement</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>