<% layout('layouts/boilerplate') %>


    <div class="row">
        <h1 class="text-center">New Statement</h1>
        <div class="col-6 offset-3">

            <form action="/statements" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="statement[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Title can't be empty</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="statement[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Location can't be empty</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="summary">Summary</label>
                    <textarea class="form-control" type="text" id="summary" name="statement[summary]"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Summary can't be empty</div>
                </div>

                <!-- //FILTERS START HERE -->
                <!-- The options in the select field for each filter are being pulled from the utils/filters.ejs file. This is the only file that contain the subfilters. I could make a for loop for the entire div of each select filter, but I think it would be worse for readability. -->
                <div class="container-fluid d-flex flex-row flex-wrap">
                    <% for (filter in filters) { %>
                        <div class="col-5 me-5 mb-3">

                            <label class="form-label" for=<%=filter%> ><strong>
                                    <%= filters[filter].filterName%>
                                </strong> </label>
                            <select class="form-select" aria-label="Default select example" id="<%= filter%>"
                                name="statement[<%= filter%>]">
                                <option value="" disabled selected>--Choose Option--</option>
                                <% for (subfilter of filters[filter].subfilters) { %>
                                    <option value="<%=subfilter %>">
                                        <%= subfilter %>
                                    </option>
                                    <% } %>
                            </select>
                            <div class=" valid-feedback">Looks good!
                            </div>
                            <div class="invalid-feedback">Please select an option</div>
                        </div>
                        <% } %>
                </div>
                <!-- //FILTERS END HERE -->

                <div class="mb-3"><button class="btn btn-success">Add new Statement</button></div>

            </form>
            <a href="/statements">Back to All Statements</a>
        </div>
    </div>