<% layout('layouts/boilerplate') %>

    <div class="mb-5 offset-1">
        <h1>Search Results</h1>
        <% if (results.length> 0) { %>
            <% for (let result of results){ %>
                <div class="card w-50 mt-3 ">
                    <div class="card-header">
                        <%= result.location %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= result.title %>
                        </h5>
                        <p class="card-text">
                            <b>Actors : </b>
                            <%= result.actors %>
                        </p>
                        <p class="card-text">
                            <b>NCP Good Offices : </b>
                            <%= result.NCPGoodOffices %>
                        </p>
                        <p class="card-text">
                            <%= result.summary %>
                        </p>
                        <a href="/statements/<%= result._id %>" class="btn btn-outline-primary">Show Statement</a>
                    </div>
                </div>
                <% } %>
                    <% } else { %>
                        <p>No results found.</p>
                        <% } %>