<% layout('layouts/boilerplate') %>


    <div class="row">
        <div class="col-9">
            <div class="card mb-3">

                <div class="card-body">
                    <h2 class="card-title">
                        <%= statement.title %>
                    </h2>
                    <% if(currentUser) { %>
                        <p class="card-text text-body-secondary">
                            Included in the database by <%= statement.author.username %>
                        </p>
                        <% } %>
                            <h5 class="card-text">
                                <%= statement.description %>
                            </h5>
                            <br>
                            <p class="card-text">
                                <%= statement.summary %>
                            </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Year</strong>: <%= statement.year %>
                    </li>

                </ul>
                <div class="card-body">
                    <% if(currentUser) { %>
                        <a class="btn btn-info" href="/statements/<%= statement._id %>/edit">Edit</a>

                        <form class="d-inline" action="/statements/<%= statement._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Statement</button>
                        </form>
                        <% } %>
                            <div class="mt-3"><a href="/statements">Back to All Statements</a></div>
                </div>

            </div>
        </div>
        <!-- teste accordion com filtros juntos -->
        <div class="col-9 mb-5">
            <div class="accordion mb-5" id="segments-accordion">
                <% const existingFilters=[]; %>
                    <% for (let segment of statement.segments) { %>
                        <% existingFilters.push(segment.filter) %>
                            <% } %>
                                <%- console.log(existingFilters) %>
                                    <% for(filter in filters){ %>

                                        <div class="accordion-item" filter-name="<%= filters[filter].filterName %>"
                                            <%=existingFilters.includes(filters[filter].filterName) ? "" : "hidden" %>>
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse<%= filter%>"
                                                    aria-expanded="false" aria-controls="collapse<%= filter%>">
                                                    <%= filters[filter].filterName %>
                                                </button>
                                            </h2>
                                            <% for(let segment of statement.segments){ %>
                                                <% if(segment.filter===filters[filter].filterName) {%>
                                                    <div id="collapse<%= filter%>" class="accordion-collapse collapse">
                                                        <div class="accordion-body">
                                                            <h5>
                                                                <%= segment.subfilter %>
                                                            </h5>
                                                            <p><i>
                                                                    <%= segment.body %>
                                                                </i></p>

                                                            <% if(currentUser) { %>
                                                                <form
                                                                    action="/statements/<%= statement._id %>/segments/<%= segment._id %>?_method=DELETE"
                                                                    method="POST">
                                                                    <button class="btn btn-sm btn-danger">DELETE
                                                                        SEGMENT</button>
                                                                </form>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                        </div>

                                        <% } %>
            </div>





            <% if(currentUser) {%>
                <h2>Add a Segment</h2>
                <form action="/statements/<%= statement._id %>/segments" method="POST" class="mb-3 validated-form"
                    novalidate>



                    <div class="mb-3">

                        <label class="form-label" for="filter"><strong>Filter:</strong></label>
                        <select class="form-select" aria-label="Default select example" id="filter"
                            name="segment[filter]">
                            <option value="" selected></option>
                            <% for (filter in filters) { %>
                                <option value="<%= filters[filter].filterName %>" filter-key="<%= filter %>">
                                    <%= filters[filter].filterName %>
                                </option>
                                <% } %>
                        </select>


                    </div>
                    <div class="mb-3">

                        <label class="form-label" for="subfilter"><strong>Sub-Filter:</strong></label>
                        <select class="form-select" aria-label="Default select example" id="subfilter"
                            name="segment[subfilter]">
                            <!-- Options will be dynamically populated based on user selection -->
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="body">Segment text:</label>
                        <textarea class="form-control" name="segment[body]" id="body" cols="30" rows="10"
                            required></textarea>
                    </div>

                    <button class="btn btn-success">Submit</button>
                </form>

                <% } %>


        </div>
    </div>

    <script>
        const filters = `<%- JSON.stringify(filters).replace(/'/g, "\\'") %>`;
        const statement = `<%- JSON.stringify(statement)%>`;

    </script>

    <!-- JavaScript to handle dynamic options in the second select field -->
    <script src="/javascripts/populateSubfilters.js"></script>
    <!-- <script src="/javascripts/hideUnusedAccordion.js"></script> -->