<% layout('layouts/boilerplate') %>


    <div class="row">
        <div class="col-8">
            <div class="card mb-3">

                <div class="card-body">
                    <h2 class="card-title">
                        <%= statement.title %>
                    </h2>
                    <% if(currentUser) { %>
                        <p class="card-text">
                            Included in the database by <%= statement.author.username %>
                        </p>
                        <% } %>
                            <p class="card-text">
                                <%= statement.summary %>
                            </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location: <%= statement.location %>
                    </li>
                    <li class="list-group-item">Linked Human Rights Issue: <%= statement.linkedHumanRightsIssue %>
                    </li>
                    <li class="list-group-item">Corporate Involvement To The Harms And Abuses: <%=
                            statement.corporateInvolvementToTheHarmsAndAbuses %>
                    </li>
                    <!-- //Corporate Involvement To The Harms And Abuses -->
                    <!-- AINDA FALTA INCLUIR DEPENDENDO DO QUE A OTGONTUYA DISSER SOBRE ESSE FILTRO -->
                    <li class="list-group-item">Corporate Responsibility In UNGP's Framework: <%=
                            statement.corporateResponsibilityInUNGPsFramework %>
                    </li>
                    <li class="list-group-item">Specific Corporate Human Rights Responsibilities: <%=
                            statement.specificCorporateHumanRightsResponsibilities %>
                    </li>
                    <li class="list-group-item">Actors: <%= statement.actors %>
                    </li>
                    <li class="list-group-item">Other Substantial Matters: <%= statement.otherSubstantialMatters %>
                    </li>
                    <li class="list-group-item">NCP's Efforts To Resolve The Cases: <%=
                            statement.NCPsEffortsToResolveTheCases %>
                    </li>
                    <li class="list-group-item">NCP Good Offices: <%= statement.NCPGoodOffices %>
                    </li>
                    <li class="list-group-item">Challenges During The Good Office: <%=
                            statement.challengesDuringTheGoodOffice %>
                    </li>
                    <li class="list-group-item">Outcomes Result Of The Mediation: <%=
                            statement.outcomesResultOfTheMediation %>
                    </li>
                    <li class="list-group-item">Analysis On Statement: <%= statement.analysisOnStatement %>
                    </li>
                </ul>
                <div class="card-body">
                    <% if(currentUser) { %>
                        <a class="btn btn-info" href="/statements/<%= statement._id %>/edit">Edit</a>

                        <form class="d-inline" action="/statements/<%= statement._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Statement</button>
                        </form>
                        <% } %>
                            <div class="mt-3"><a href="/statements">Back to All Statements</a></div>
                </div>

            </div>
        </div>
    </div>